<h2><%= placeOfInterest.placeofinterestname %></h2>


        <section class="generalplaceofinterest"><div><img src="<%= placeOfInterest.image %>" class="placeofinterestimage"></div><div class="placeofinterestdetails"><ul class="list">
		<li><b>Location:</b> <%= placeOfInterest.locationname %></li>
		<li><b>Description:</b> <%= placeOfInterest.placeofinterestdescription %></li>
		<li><b>Price:</b> <%= placeOfInterest.priceforvisit %></li>
		<li><b>Open hours:</b> <%= placeOfInterest.openhours %></li>
		<li><b>Phone number:</b> <%= placeOfInterest.phonenumber %></li>
		<li><b>Website:</b> <a href="<%= placeOfInterest.website %>" target="_blank"><%= placeOfInterest.website %></a></li>
		</div></section>